<div class="col-sm-3">
	<div class="form-group">
		<label>{{ form.name.label }}</label>
		{{ form.name }}
		{% if form.name.errors %}<p class="text-danger">{% for error in form.name.errors %}{{error}}{% endfor %}</p>{% endif %}
	</div>
</div>
<div class="col-sm-1">
	<div class="form-group">
		<label>{{ form.price.label }}</label>
		{{ form.price }}
		{% if form.price.errors %}<p class="text-danger">{% for error in form.price.errors %}{{error}}{% endfor %}</p>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group">
		<label>{{ form.students_number.label }}</label>
		{{ form.students_number }}
		{% if form.students_number.errors %}<p class="text-danger">{% for error in form.students_number.errors %}{{error}}{% endfor %}</p>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group">
		<label>{{ form.duration.label }}</label>
		{{ form.duration }}
		{% if form.duration.errors %}<p class="text-danger">{% for error in form.duration.errors %}{{error}}{% endfor %}</p>{% endif %}
	</div>
</div>