{% extends 'base.html' %}
{% load static %}

{% block title %} Alunos {% endblock %}

{% block css_files %}
	{% include 'auxiliar/commom_css.html' %}
	<link href="{% static 'plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<a href="{{ add_url }}"
						 class="btn bg-green waves-effect pull-right m-t--5"><i
						class="material-icons">add_circle_outline</i><span> Adicionar</span></a>
					<h2> {{ complete_title }} </h2>
				</div>
				<div class="body">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="material-icons">&#xE8B6;</i>
						</span>
						<div class="form-line">
							<input type="text" id="search-bar" class="form-control line-input"
										 placeholder="Buscar">
						</div>
					</div>
					{% if type == 'courses' %}
						{% include 'adm/courses/courses_list.html' %}
					{% endif %}
				</div>
				<!-- #END# Basic Examples -->
			</div>
		</div>
	</div>
	<!-- #END# Body Copy -->
{% endblock %}
{% block script_files %}
	{% include 'auxiliar/table_scripts.html' %}
{% endblock %}