{% load static %}
<!-- Colorpicker Css -->
<link href="{% static 'plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}" rel="stylesheet"/>

<!-- Dropzone Css -->
<link href="{% static 'plugins/dropzone/dropzone.css' %}" rel="stylesheet">

<!-- Multi Select Css -->
<link href="{% static 'plugins/multi-select/css/multi-select.css' %}" rel="stylesheet">

<!-- Bootstrap Spinner Css -->
<link href="{% static 'plugins/jquery-spinner/css/bootstrap-spinner.css' %}" rel="stylesheet">

<!-- Bootstrap Tagsinput Css -->
<link href="{% static 'plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet">

<!-- Bootstrap Select Css -->
<link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>

<!-- noUISlider Css -->
<link href="{% static 'plugins/nouislider/nouislider.min.css' %}" rel="stylesheet"/>

<!-- Sweet Alert Css -->
<link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet"/>

<!-- Bootstrap Material Datetime Picker Css -->
<link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet"/>

<!-- Wait Me Css -->
<link href="{% static 'plugins/waitme/waitMe.css' %}" rel="stylesheet"/>