<div class="col-sm-4">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.name.label }}</label>
			{{ form.name }}
		</div>
		{% if form.name.errors %}<label class="error">{% for error in form.name.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>

<div class="col-sm-4">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.last_name.label }}</label>
			{{ form.last_name }}
		</div>
		{% if form.last_name.errors %}<label class="error">{% for error in form.last_name.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.date_of_birth.label }}</label>
			{{ form.date_of_birth }}
		</div>
		{% if form.date_of_birth.errors %}<label class="error">{% for error in form.date_of_birth.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
{#			<label class="form-label">{{ form.gender.label }}</label>#}
			{{ form.gender }}
		</div>
		{% if form.gender.errors %}<label class="error">{% for error in form.gender.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-4">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.mothers_name.label }}</label>
			{{ form.mothers_name }}
		</div>
		{% if form.mothers_name.errors %}<label class="error">{% for error in form.mothers_name.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-4">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.fathers_name.label }}</label>
			{{ form.fathers_name }}
		</div>
		{% if form.fathers_name.errors %}<label class="error">{% for error in form.fathers_name.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-4">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.email.label }}</label>
			{{ form.email }}
		</div>
		{% if form.email.errors %}<label class="error">{% for error in form.email.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.cellphone.label }}</label>
			{{ form.cellphone }}
		</div>
		{% if form.cellphone.errors %}<label class="error">{% for error in form.cellphone.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.home_phone.label }}</label>
			{{ form.home_phone }}
		</div>
		{% if form.home_phone.errors %}<label class="error">{% for error in form.home_phone.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
{#			<label class="form-label">{{ form.civil_status.label }}</label>#}
			{{ form.civil_status }}
		</div>
		{% if form.civil_status.errors %}<label class="error">{% for error in form.civil_status.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.cpf.label }}</label>
			{{ form.cpf }}
		</div>
		{% if form.cpf.errors %}<label class="error">{% for error in form.cpf.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.rg.label }}</label>
			{{ form.rg }}
		</div>
		{% if form.rg.errors %}<label class="error">{% for error in form.rg.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.address.label }}</label>
			{{ form.address }}
		</div>
		{% if form.address.errors %}<label class="error">{% for error in form.address.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-1">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.number.label }}</label>
			{{ form.number }}
		</div>
		{% if form.number.errors %}<label class="error">{% for error in form.number.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-2">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.neighborhood.label }}</label>
			{{ form.neighborhood }}
		</div>
		{% if form.neighborhood.errors %}<label class="error">{% for error in form.neighborhood.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.city.label }}</label>
			{{ form.city }}
		</div>
		{% if form.city.errors %}<label class="error">{% for error in form.city.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
{#			<label class="form-label">{{ form.uf.label }}</label>#}
			{{ form.uf }}
		</div>
		{% if form.uf.errors %}<label class="error">{% for error in form.uf.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.cep.label }}</label>
			{{ form.cep }}
		</div>
		{% if form.cep.errors %}<label class="error">{% for error in form.cep.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.country.label }}</label>
			{{ form.country }}
		</div>
		{% if form.country.errors %}<label class="error">{% for error in form.country.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.occupation.label }}</label>
			{{ form.occupation }}
		</div>
		{% if form.occupation.errors %}<label class="error">{% for error in form.occupation.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
{#			<label class="form-label">{{ form.scholarity.label }}</label>#}
			{{ form.scholarity }}
		</div>
		{% if form.scholarity.errors %}<label class="error">{% for error in form.scholarity.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.school.label }}</label>
			{{ form.school }}
		</div>
		{% if form.school.errors %}<label class="error">{% for error in form.school.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-3">
	<div class="form-group form-float">
		<div class="form-line">
{#			<label class="form-label">{{ form.time.label }}</label>#}
			{{ form.time }}
		</div>
		{% if form.time.errors %}<label class="error">{% for error in form.time.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>
<div class="col-sm-6">
	<div class="form-group form-float">
		<div class="form-line">
			<label class="form-label">{{ form.comments.label }}</label>
			{{ form.comments }}
		</div>
		{% if form.comments.errors %}<label class="error">{% for error in form.comments.errors %}{{error}}{% endfor %}</label>{% endif %}
	</div>
</div>