<div class="table-responsive">
	<table
		class="table table-bordered table-striped table-hover js-basic-example dataTable">
		<thead>
		<tr>
			<th>Name</th>
			<th>Gênero</th>
			<th>Mãe</th>
			<th>Data de nascimento</th>
			<th>E-mail</th>
			<th>Celular</th>
		</tr>
		</thead>
		<tbody>
		{% for donor in donors %}
			<tr class="clickable-row" data-href="{% url 'people:donors_update' donor.ref_person donor.slug%}">
				<td>{{ donor.name }} {{ donor.last_name }}</td>
				<td>{{ donor.get_gender_display }}</td>
				<td>{{ donor.mothers_name }}</td>
				<td>{{ donor.date_of_birth }}</td>
				<td>{{ donor.email }}</td>
				<td>{{ donor.cellphone }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>