<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport">
	<title>ONG |{% block title %} {% endblock %} </title>

	{% block css_files %}
	{% endblock %}

</head>

<body class="theme-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper">
	<div class="loader">
		<div class="preloader">
			<div class="spinner-layer pl-red">
				<div class="
				circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<p>Please wait...</p>
	</div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="javascript:void(0);" class="navbar-toggle collapsed"
				 data-toggle="collapse"
				 data-target="#navbar-collapse" aria-expanded="false"></a>
			<a href="javascript:void(0);" class="bars"></a>
			<a class="navbar-brand" href="{% url 'core:dashboard' %}">ONG - Maluma</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="pull-right"><a href="javascript:void(0);"
																	class="js-right-sidebar" data-close="true"><i
					class="material-icons">more_vert</i></a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- #Top Bar -->
<section>
	<!-- Left Sidebar -->
	<aside id="leftsidebar" class="sidebar">
		<!-- User Info -->
		<div class="user-info">
			<div class="image">
				<img src="{% static 'images/user.png' %}" width="48" height="48"
						 alt="User"/>
			</div>
			<div class="info-container">
				<div class="name" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">{{ user.get_full_name }}</div>
				<div class="email">{{ user.email }}</div>
				<div class="btn-group user-helper-dropdown">
					<i class="material-icons" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="true">keyboard_arrow_down</i>
					<ul class="dropdown-menu pull-right">
						<li><a href="javascript:void(0);"><i
							class="material-icons">person</i>Perfil</a></li>
						<li role="seperator" class="divider"></li>
						<li><a href="javascript:void(0);"><i
							class="material-icons">group</i>...</a></li>
						<li role="seperator" class="divider"></li>
						<li><a href="{% url 'logout' %}"><i class="material-icons">input</i>Sign
							Out</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- #User Info -->
		<!-- Menu -->
		<div class="menu">
			<ul class="list">
				<li class="header">Menu</li>
				<li class="active">
					<a href="{% url 'core:dashboard' %}">
						<i class="material-icons">dashboard</i>
						<span>Dashboard</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="menu-toggle">
						<i class="material-icons">create</i>
						<span>Cadastrar</span>
					</a>
					<ul class="ml-menu">
						<li>
							<a href="{% url 'people:students_create' %}">
								<span>Aluno</span>
							</a>
						</li>
						<li>
							<a href="{% url 'people:donors_create' %}">
								<span>Doador</span>
							</a>
						</li>
						<li>
							<a href="{% url 'people:employees_create' %}">
								<span>Funcionário</span>
							</a>
						</li>
						<li>
							<a href="{% url 'accounts:register' %}">
								<span>Usuário</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);" class="menu-toggle">
								<span>Outros</span>
							</a>
							<ul class="ml-menu">
								<li>
									<a href="javascript:void(0);">
										<span>Cursos</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<span>Matrículas</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<span>Mensalidades</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<span>Turmas</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);" class="menu-toggle">
						<i class="material-icons">people</i>
						<span>Pessoas</span>
					</a>
					<ul class="ml-menu">
						<li>
							<a href="{% url 'people:students_list' %}">
								<span>Alunos</span>
							</a>
						</li>
						<li>
							<a href="{% url 'people:donors_list' %}">
								<span>Doadores</span>
							</a>
						</li>
						<li>
							<a href="{% url 'people:employees_list' %}">
								<span>Funcionários</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Usuários</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="base.html">
						<i class="material-icons">favorite_border</i>
						<span>Doações</span>
					</a>
				</li>
				<li>
					<a href="base.html">
						<i class="material-icons">attach_money</i>
						<span>Despesas</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" class="menu-toggle">
						<i class="material-icons">people</i>
						<span>Movimentações</span>
					</a>
					<ul class="ml-menu">
						<li>
							<a href="{% url 'adm:courses_list' %}">
								<span>Cursos</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span>Matrículas</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span>Mensalidades</span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<span>Turmas</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- #Menu -->
		<!-- Footer -->
		<div class="legal">
			<div class="copyright">
				&copy; 2018 <a href="{% url 'core:dashboard' %}">ONG - Maluma</a>.
			</div>
			<div class="version">
				<b>Version: </b> 1.0
			</div>
		</div>
		<!-- #Footer -->
	</aside>
	<!-- #END# Left Sidebar -->
</section>

<section class="content">
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
</section>

{% block script_files %}
{% endblock %}

</body>

</html>