{% extends 'base.html' %}

{% block title %} {{ complete_title }} {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{ complete_title }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form method="post">{% csrf_token %}
				<div class="row clearfix demo-masked-input">
					{% if type == 'students' %}
						{% include 'people/students/students_fields.html' %}
					{% elif type == 'donors' %}
						{% include 'people/donors/donors_fields.html' %}
					{% elif type == 'employees' %}
						{% include 'people/employees/employees_fields.html' %}
					{% elif type == 'courses' %}
						{% include 'adm/courses/courses_fields.html' %}
					{% endif %}
				</div>
				<div class="row">
					<div class="col-lg-12">
					<button class="btn btn-success btn-lg pull-right" style="margin-left: 10px; margin-bottom: 10px;" type="submit"><i class="fa fa-check-circle"></i><span> Salvar</span>
					</button>
					<a href="{{ back_url }}" class="btn btn-info btn-lg pull-right"><i class="fa fa-undo"></i><span> Voltar</span>
					</a>
					</div>

				</div>
				{% if object.created_by and object.creation_date %}
					<div class="row clearfix m-l-5">
						<small><b>Criado em:</b> {{ object.creation_date }} por {{ object.created_by.get_full_name }}</small> |
						<small><b>Modificado em:</b> {{ object.modification_date }}</small>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}